
.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.chart {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  width: 60%; /* Adjust width as needed */
  margin: 0 auto; /* Center align the chart */
}

.chart-container {
  margin-bottom: 40px;
}
